{% load static %}
{% include 'header.html' %}
{% include 'links.html' %}

<div class="accordion borda">
    <div class="accordion-main flexstart">
        <p><i class="fa-solid fa-file-import" style="color: #6da5f8"></i> Processar guias:</p>
    </div>
    <div class="accordion-content hidden">
        <div id="dragNdrop" class="dragNdrop">
            <div>
                <form id="uploadguias" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input id="modelo" type="hidden" value="notas">
                    <label for="arquivos">Clique para adcionar ou solte o arquivo</label>
                    <input id="arquivos" name="arquivos" type="file" onchange="this.form.submit();">
                </form>
            </div>
        </div>
    </div>
</div>

<div class="grid-main">
    {% for imp in impostos %}
        <div class="borda padding-sm sombra" style="margin: 0.2rem;">
            <p>{{ imp.tipoguia.nome }}</p>
            <p>Competência: {{ imp.comp.month }}/{{ imp.comp.year }} </p>
            <p>R$ {{ imp.valor }}</p>
            <p>VCTO: {{ imp.vcto }}</p>
            <p>Identificador: {{ imp.identificador }}</p>
            {% if imp.pix %}
            <div>
                <input type="hidden" value="{{ imp.pix }}">
                <p class="padding-sm csuccess" style="border-radius: 4px; display: inline-block;" onclick="clicacopia('{{ imp.pix }}')">PIX copia e cola</p>
            </div>
            {% endif %}
            {% if imp.barcode %}
            <div>
                <input type="hidden" value="{{ imp.barcode }}">
                <p class="padding-sm csuccess" style="border-radius: 4px; display: inline-block;" onclick="clicacopia('{{ imp.barcode }}')">Código de barras</p>
            </div>
            {% endif %}
            <a href="{{ imp.guia.url }}" target="_blank">View File</a>
            <p>{{ imp.guia }}</p>
            <div {% if imp.pago == True %} class="confere csuccess" {% else %} class="confere borda cdanger" {% endif %} id="{{ imp.id }}" onclick="imposto_pago(this, pagamento)" style="height: 2.5rem;">
                <span>Pago:</span>
                {% if imp.pago == True %} <i class="fa-solid fa-file-circle-check"></i> {% else %} <i class="fa-solid fa-file-circle-xmark"></i> {% endif %}                        
            </div>            
        </div>
    {% endfor %}
</div>
{% if msg %}
    <div class="borda padding-sm sombra">
        {%for msg in msg%}
            <p>{{ msg }}</p>
        {%endfor%}
    </div>
{% endif %}
{% include 'footer.html' %}
<script>
    function submitForm() {
        document.getElementById("uploadarquivo").submit();
    }
</script>
<script src="{% static 'js/processa.js' %}"></script>
</html>