{% load hash_filters %}
<h1 id="titulo" {% if "Escritório Contábil Paulista" in titulo %}class="font-mono corpadrao"{% else %}class="corpadrao" {% endif %}>{{titulo}}</h1>
<div id="map"></div>
<div style="border-top: 1px solid #A5D7E8;"></div>
<div id="links" class="corpadrao">
    <div id="linksbig">
        <a target="_blank" onclick="alakazam('#competencia')"><i class="fa-regular fa-calendar"></i> {{ua.comp|date:"m/y"}}</a>
        {% if not user.eh_funcionario %}
            <a href="{% url 'empresas' %}">Empresas</a>
            <a href="{% url 'funcionarios' ua.emp.cod %}">Funcionários</a>
            <a href="{% url 'pagamentos' ua.emp.cod ua.comp|date:'m-y' %}">Pagamentos</a>
            <a href="{% url 'relatorioponto' ua.emp.cod ua.comp|date:'m-y' %}">Relatorio Ponto</a>
            <a href="{% url 'notas' ua.emp.cod ua.comp|date:'m-y' %}">Notas</a>
            <a href="{% url 'obras' ua.emp.cod %}">Obras</a>
            <a href="{% url 'impostos' ua.emp.cod ua.comp|date:'m-y' %}">Impostos</a>
            {% if user.is_superuser %}
                <a href="{% url 'tarefas' ua.emp.cod ua.comp|date:'m-y' %}">Tarefas</a>
            {% endif %}
        {% else %}
            <a href="{% url 'ponto' ua.comp|date:'m-y' %}">Ponto</a>
            <a href="{% url 'alterasenha' %}">Alterar Senha</a>
        {% endif %}
        {% if not user.eh_auxiliar and not user.eh_funcionario %}
            <a href="{% url 'usuarios' %}">Usuários</a>
        {% endif %}
        <div id="logout">
            <a href="{% url 'logout' %}">{{ user.nome }} | Logout</a>
        </div>
    </div>
    <div id="linkssmall">
        <a id="showmenu" onclick="showmenu()"><i class="fa-solid fa-bars-staggered"></i></a>
        <a target="_blank" onclick="alakazam('#competencia')"><i class="fa-regular fa-calendar"></i> {{ua.comp|date:"m/y"}}</a>
    </div>
    <div id="competencia">
        <label for="comp">Competência:</label>
        <select name="comp_month" id="comp_month" style="width:6rem; background-color: #fff; color: #000">
            {% for a in 1|makerange:13 %}
                <option value="{{a}}" {% if a == ua.comp|date:'m' %}selected{% endif %}>{{a}}</option>
            {% endfor %}
        </select>
        <select name="comp_year" id="comp_year" style="width:6rem; background-color: #fff; color: #000">
            {% for a in ua.emp.inicio.year|makerange:2036 %}
                <option value="{{a}}" {% if a == ua.comp|date:'Y' %}selected{% endif %}>{{a}}</option>
            {% endfor %}
        </select>
        <button type="submit" class="btn" onclick="alteracomp(this)">Alterar</button>
    </div>
</div>
<div id="conteudomenu"  class="corpadrao">
    {% if not user.eh_funcionario %}
    <a style="display: flex; justify-content: flex-end;" onclick="showmenu()">
        <i class="fa-solid fa-xmark" style="float: right; font-size: 1.5rem;"></i>
    </a>
    <a href="{% url 'empresas' %}">Empresas</a>
    <a href="{% url 'funcionarios' ua.emp.cod %}">Funcionários</a>
    <a href="{% url 'pagamentos' ua.emp.cod ua.comp|date:'m-y' %}">Pagamentos</a>
    <a href="{% url 'relatorioponto' ua.emp.cod ua.comp|date:'m-y' %}">Relatorio Ponto</a>
    <a href="{% url 'notas' ua.emp.cod ua.comp|date:'m-y' %}">Notas</a>
    <a href="{% url 'obras' ua.emp.cod %}">Obras</a>
    <a href="{% url 'impostos' ua.emp.cod ua.comp|date:'m-y' %}">Impostos</a>
    {% if user.is_superuser %}
        <a href="{% url 'tarefas' ua.emp.cod ua.comp|date:'m-y' %}">Tarefas</a>
    {% endif %}
    {% else %}
        <a href="{% url 'ponto' %}">Ponto</a>
        <a href="{% url 'alterasenha' %}">Alterar Senha</a>
    {% endif %}
    {% if not user.eh_auxiliar and not user.eh_funcionario %}
        <a href="{% url 'usuarios' %}">Usuários</a>
    {% endif %} 
    <div>
        <a href="{% url 'logout' %}">{{ user.nome }} | Logout</a>
    </div>
</div>