{% load static %}
{% include 'header.html' %}
{% include 'links.html' %}
<div class="accordion borda">
    <div class="accordion-main flexstart">
        <p><i class="fa-solid fa-file-import" style="color: #6da5f8"></i> Importar arquivo:</p>
    </div>
    <div class="accordion-content hidden">
        <div id="dragNdrop" class="dragNdrop">
            <div>
                <form id="uploadarquivo">
                    <input id="modelo" type="hidden" value="notas">
                    <label for="arquivo">Clique para adcionar ou solte o arquivo</label>
                    <input id="arquivo" name="arquivo" type="file">
                </form>
            </div>
        </div>
    </div>
</div>

{% if notas == None %}
    <p class="borda msg">Nenhuma nota cadastrada</p>
{% else %}
<div class="abasgrupo">
    <a class="abasmenu" href="{% url 'alocacoes'  ua.emp.cod ua.comp|date:'m-Y' %}">Alocações</a>
</div>
<br>
<p style="margin-left: 1rem;">Total: R$ {{ total|floatformat:2 }} | INSS: R$ {{ inss|floatformat:2 }} | ISS: R$ {{ iss }}</p>
<br>

{% if alterar %}
    <div class="accordion borda">
        <div class="accordion-main">
            <p>Alterar Nota</p>
        </div>
        <div class="accordion-content active">
            <input type="hidden" id="notaid" name="notaid" value="{{alterar.id}}">            
            <p>Nota: {{alterar.numero}}</p>             
            <label for="obra">Obra CNPJ/CNO:</label>
            <input type="text" id="obra" name="obra" value="{{alterar.obra}}" oninput="buscadadosobra(this, '{{ua.emp.cod}}', 'obracod')" required>
            <button onclick="buscadadosobra(this, '{{ua.emp.cod}}', 'obracod')">Buscar</button>
        </div>
    </div>
{% endif %}

{% for nota in notas %}
    <div class="accordion borda">
        <div class="accordion-main flexstart">
                <a href="{% url 'notas'  ua.emp.cod ua.comp|date:'m-Y' %}?notaid={{ nota.id }}">
                    <div class="btnbig b_right"><i class="fa-solid fa-file-invoice"></i> <span {% if nota.canc == 1 %} style="color: #ff3333;" {% endif %}>Nota: {{ nota.numero }}</span></div>
                </a>
                <a href="{% url 'obras' ua.emp.cod ua.comp|date:'m-Y' %}?obraid={{ nota.tomador.id }}">
                    <div class="btnbig b_right" {% if nota.tomador.cod == None %}style="color: #ffe666;"{% elif nota.canc == 1 %} style="color: #ff3333;" {% endif %}><i class="fa-solid fa-trowel-bricks"></i> Obra: {{ nota.tomador.cod }}</div>
                </a>
            <p  {% if nota.canc == 1 %} style="color: #ff3333;" {% endif %}>{{ nota.tomador.nome }}
                        {% if nota.tomador.cno != None %}
                            - CNO: {{ nota.tomador.cno }}
                        {% else %}
                            - CNPJ: {{ nota.tomador.cnpj }}
                        {% endif %}
                        {{ nota.atualizado }}
            </p>
        </div>
        <div class="accordion-content hidden">
            <p>Endereço: {{ nota.tomador.endereco }} - Nº: {{ nota.tomador.num }} - Bairro: {{ nota.tomador.bairro }}</p>
            <p>Município: {{ nota.tomador.municipio }} - UF: {{ nota.tomador.uf }} - CEP: {{ nota.tomador.cep }}</p>
            <p><span>Valor: {{ nota.valor }} </span><span>INSS: {{ nota.inss }} </span><span>ISS: {{ nota.iss }}</span></p>
        </div>
    </div>
{% endfor %}
{% endif %}
{% include 'footer.html' %}
<script src="{% static 'js/processa.js' %}"></script>
</html>


