{% load static %}
{% load hash_filters %}
{% include 'header.html' %}
{% include 'links.html' %}
{% if alerta %}
{{ alerta }}
{% else %}
    {% if diaedit %}
        <div class="formdisplay">
            <div>
                <div class="forminput_barra">
                    <button onclick="removefundo()"><i class="fa-solid fa-xmark"></i></button>
                </div>
                <div class="formgroup ponto_retifica">
                    <form method="post">     
                        <p>{{ diaedit.inicioem}}</p>
                        {% csrf_token %}
                        <input type="hidden" id="funcid" name="funcid" value="{{ func.cod }}">
                        <input type="hidden" id="inicioem" name="inicioem" value="{{ diaedit.inicioem|date:'Y-m-d' }}">
                        <div class="forminput">
                            <label for="entrada">Entrada</label>
                            <input type="datetime-local" id="entrada" name="entrada" {% if not diaaberto.entrada %} class="naomarcado" {% else %} value="{{ diaaberto.entrada.date|date:'Y-m-d' }}T{{ diaaberto.entrada.time|ajusta_hora }}" {% endif %}>
                        </div>
                        <div class="forminput">
                            <label for="intervalo">Intervalo</label>
                            <input type="datetime-local" id="intervalo" name="intervalo" {% if not diaaberto.intervalo %} class="naomarcado" {% else %} value="{{ diaaberto.intervalo.date|date:'Y-m-d' }}T{{ diaaberto.intervalo.time|ajusta_hora }}" {% endif %}>
                        </div>
                        <div class="forminput">
                            <label for="fimintervalo">Fim de Intervalo</label>
                            <input type="datetime-local" id="fimintervalo" name="fimintervalo" {% if not diaaberto.fimintervalo %} class="naomarcado" {% else %} value="{{ diaaberto.fimintervalo.date|date:'Y-m-d' }}T{{ diaaberto.fimintervalo.time|ajusta_hora }}" {% endif %}>
                        </div>
                        <div class="forminput">
                            <label for="saida">Saida</label>
                            <input type="datetime-local" id="saida" name="saida" {% if not diaaberto.saida %} class="naomarcado" {% else %} value="{{ diaaberto.saida.date|date:'Y-m-d' }}T{{ diaaberto.saida.time|ajusta_hora }}" {% endif %}>
                        </div>
                        <button id='retificarponto' class="btn" type="submit">Retificar</button>
                    </form>
                    <form method="post" style="margin: 1rem">
                        {% csrf_token %}
                        <input type="hidden" id="diafolga" name="diafolga" value="{{ diaedit.inicioem|date:'Y-m-d' }}">
                        <button class="btn btn-yellow" type="submit">Folga</button>
                    </form>
                </div>
            </div>
        </div>
        <div id="fundo"></div>
    {% else %}
        <div>
            <div style="display: flex; justify-content: space-around; margin-bottom: 0.5rem;">
                <p style="text-align: center; font-size: 2rem;">{{ func.nome }}</p>
            </div>
            {% if diaaberto %}
                <div class="ponto">  
                    <div class="borda padding-sm margin-sm sombra" style="background-color: #303436;">
                        <p style="text-align: center; font-size: 1.5rem;">Início do Turno em:</p>
                        <p style="text-align: center; font-size: 1.5rem;" class="titulo">{{ diaaberto.inicioem|date:'d/m/Y' }}</p>
                    </div> 
                    {% csrf_token %}
                    <div class="borda margin-sm sombra" style="background-color: #303436;">
                        <input type="hidden" id="datainicio" name="datainicio" value="{{ diaaberto.inicioem|date:'Y-m-d' }}">
                        <label for="dia_hora" class="titulo" style="text-align: center; display: block; font-size: 1.5rem;">Dia e hora:</label>
                        <input type="datetime-local" id="dia_hora" name="dia_hora" class="dia_hora">    
                        <div class="botoes_marca">                            
                            <button id="botao_entrada" {% if not diaaberto.entrada %} class="btn btn_marca"  onclick="marcaponto(this)"{% else %} class="btn btn-green btn_marca" {% endif %}>Entrada<br><i class="fa-solid fa-right-to-bracket"></i></button>
                        
                            <button id="botao_intervalo" {% if not diaaberto.intervalo %} class="btn btn_marca"  onclick="marcaponto(this)"{% else %} class="btn btn-green btn_marca" {% endif %}>Intervalo<br><i class="fa-solid fa-utensils"></i></button>
                        
                            <button id="botao_fimintervalo" {% if not diaaberto.fimintervalo %} class="btn btn_marca"  onclick="marcaponto(this)"{% else %} class="btn btn-green btn_marca" {% endif %}>Fim intervalo<br><i class="fa-solid fa-business-time"></i></button>
                        
                            <button id="botao_saida" {% if not diaaberto.saida %} class="btn btn_marca"  onclick="marcaponto(this)"{% else %} class="btn btn-green btn_marca" {% endif %}>Saida<br><i class="fa-solid fa-right-from-bracket"></i></button>
                        </div>
                    </div>
                    <form method="post">
                        {% csrf_token %}
                        <input type="hidden" id="diafolga" name="diafolga" value="{{ diaaberto.inicioem|date:'Y-m-d' }}">
                        <button class="btn btn-yellow" type="submit">Folga</button>
                    </form>
                </div>
                <div id="fundo" onclick="removefundo()"></div>
            {% endif %}
            <div>
                <table id="tabelaponto" class="sombra">
                    <thead>
                        <tr>
                            <th>Dia</th>
                            <th>Entrada</th>
                            <th>Intervalo</th>
                            <th>Fim de Intervalo</th>
                            <th>Saída</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for diaturno in diadetrabalho %}
                            <tr id="{{ diaturno.inicioem|date:'d' }}">
                                <td {% if diaturno.inicioem == diaturno.func.admissao %}style="background-color: #ff9933; color:black;" {% elif diaturno.encerrado %} class="diaencerrado" {% else %} class="diainicio" {% endif %}>
                                    <a {% if diaturno.encerrado %} onclick="alert('Dia encerrado. Contate o responsável para alterar')" {% endif %}>
                                        {{ diaturno.inicioem|date:"d" }}
                                    </a>
                                </td>
                                <td>
                                    {% if diaturno.entrada != None %}
                                        {{ diaturno.entrada|time:"H:i" }}
                                    {% else %}
                                        --
                                    {% endif %}
                                    </td>
                                <td {% if diaturno.intervalo.day != diaturno.inicioem.day and diaturno.intervalo %}style="background-color: #ff9933; color:black;"{% endif %}>
                                    {% if diaturno.intervalo != None %}
                                        {{ diaturno.intervalo|time:"H:i" }}
                                    {% else %}
                                        --
                                    {% endif %}
                                </td>
                                <td {% if diaturno.fimintervalo.day != diaturno.inicioem.day and diaturno.fimintervalo %}style="background-color: #ff9933; color:black;"{% endif %}>
                                    {% if diaturno.fimintervalo != None %}
                                        {{ diaturno.fimintervalo|time:"H:i" }}
                                    {% else %}
                                        --
                                    {% endif %}
                                </td>
                                <td {% if diaturno.saida.day != diaturno.inicioem.day and diaturno.saida %}style="background-color: #ff9933; color:black;"{% endif %}>
                                    {% if diaturno.saida != None %}
                                        {{ diaturno.saida|time:"H:i" }}
                                    {% else %}
                                        --
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
{% endif %}
<p class="hidden" id="msg"></p>
<script>
removefundo = () => {
    $("#fundo").remove()
    for(formdisplay of $(".formdisplay")){
        $(formdisplay).addClass('hidden')
    }
}
</script>
<script src="{% static 'js/csrf.js' %}"></script>
<script src="{% static 'js/funcoespadrao.js' %}"></script>
<script src="{% static 'js/scroll.js' %}"></script>
<script src="{% static 'js/marcaponto.js' %}"></script>
</body>
</html>
