{% load static %}
{% load hash_filters %}
{% include 'header.html' %}
<div id="topo">
{% include 'links.html' %}
</div>
<div class="abasgrupo">
    <a href="{% url 'relatorioponto' %}"><p class="abasmenu">Relatório</p></a>
    <a href="{% url 'cartao_ponto' %}?funcid={{ funcl.cod }}"><p class="abasmenu">Cartão Ponto</p></a>
    <p class="abasmenu">Vale Refeição</p>
</div>
<div>
    {% for func in funcs %}
        <div class="borda padding-sm margin-sm">
            <a href="{% url 'cartao_ponto' %}?funcid={{ func.cod }}" {% if func.demitido %}style="color:#ff3333"{% endif %}>
                {{ func.cod }} - {{ func.nome }}{% if func.demitido %} - Demitido em: {{ func.demissao|date:"d/m/Y" }}{% endif %}
            </a>
            <div class="lancamentos">
                {% with lanc=func.lancamento_set.all|lancamentos:ua %}
                    <div class="margin-sm">
                        <p class="titulo">Horas extras</p>
                        <p>{{ lanc.horas_extras }}</p>
                    </div>
                    <div class="margin-sm">
                        <p class="titulo">Adic. Noturno</p>
                        <p>{{ lanc.adic_noturno }}</p>
                    </div>
                    <div class="margin-sm">
                        <p class="titulo">Intrajornada</p>
                        <p>{{ lanc.intrajornada }}</p>
                    </div>
                    <div class="margin-sm">
                        <p class="titulo">Horas faltas</p>
                        <p>{{ lanc.horasfaltas }}</p>
                    </div>
                    <div class="margin-sm">
                        <p class="titulo">Vale Transporte</p>
                        <p>{{ lanc.valetrasnporte }}</p>
                    </div>
                    <div class="margin-sm">
                        <p class="titulo">Vale refeição</p>
                        <p>{{ lanc.valerefeicao }}</p>
                    </div>
                {% endwith %}
            </div>
        </div>
    {% endfor %}
</div>
{% include 'footer.html' %}