{% load static %}
{% load hash_filters %}
{% include 'header.html' %}
{% include 'links.html' %}


<button class="btn" style="margin-left: 0.5rem;" onclick="mostrar(this)">Cadastrar <i class="fa-solid fa-user-plus"></i></button>
<div class="formdisplay hidden">
        <div>
        <div class="forminput_barra">
            <button onclick="removefundo()"><i class="fa-solid fa-xmark"></i></button>
        </div>
        <div class="formgroup">
            <form method="POST" autocomplete="nope">
                {% csrf_token %}
                <div class="forminput">
                    <label for="usuario">Usuário:</label>
                    <input type="text" id="usuario" name="usuario" maxlength="50" required oninput="userexiste(this)" autocomplete="off">
                </div>
                <div class="forminput">
                    <label for="senha">Senha:</label>
                    <input type="password" id="senha" name="senha" maxlength="50" required autocomplete="new-password">
                </div>
                <div class="forminput">
                    <label for="nome">Nome:</label>
                    <input type="text" id="nome" name="nome" maxlength="50" required autocomplete="off">
                </div>
                <div class="forminput">
                    <label for="snome">Sobrenome:</label>
                    <input type="text" id="snome" name="snome" maxlength="50" required autocomplete="off">
                </div>
                <div class="forminput">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" autocomplete="mope">
                </div>
                <div class="forminput">
                    <label for="fone">Telefone:</label>
                    <input type="tel" id="fone" name="fone" autocomplete="nope">
                </div>
                <div class="formradio">
                    <label for="is_superuser">Superusuário:</label>
                    <input type="checkbox" id="is_superuser" name="is_superuser">
                </div>
                <div class="formradio">
                    <label for="eh_supervisor">Supervisor:</label>
                    <input type="checkbox" id="eh_supervisor" name="eh_supervisor">
                </div>
                <div class="formradio">
                    <label for="eh_gerente">Gerente:</label>
                    <input type="checkbox" id="eh_gerente" name="eh_gerente">
                </div>
                <div class="formradio">
                    <label for="eh_auxiliar">Auxiliar:</label>
                    <input type="checkbox" id="eh_auxiliar" name="eh_auxiliar">
                </div>
                <input class="btn" style="margin-top: 0.5rem;" id="btnsubmit" type="submit" value="Cadastrar">
            </form>
        </div>
    </div>
</div>
{% if useraltera %}
    <button class="btn" style="margin-left: 0.5rem;" onclick="mostrar(this)">Alterar <i class="fa-solid fa-user-pen"></i></button>
    <div class="formdisplay" >
            <div>
            <div class="forminput_barra">
                <button onclick="removefundo()"><i class="fa-solid fa-xmark"></i></button>
            </div>
            <div class="formgroup">
                <form method="POST" autocomplete="nope">
                    {% csrf_token %}
                    <input type="hidden" id="userid" name="userid" value="{{ useraltera.id|hash_id }}">
                    <div class="forminput">
                        <label for="usuario">Usuário:</label>
                        <input type="text" value="{{ useraltera.nome }}" disabled>
                    </div>
                    <div class="forminput">
                        <label for="senhaaltera">Senha:</label>
                        <input type="password" id="senhaaltera" name="senhaaltera" maxlength="50" autocomplete="new-password">
                    </div>
                    <div class="forminput">
                        <label for="nomealtera">Nome:</label>
                        <input type="text" id="nomealtera" name="nomealtera" maxlength="50" required value="{{ useraltera.nome }}" autocomplete="off">
                    </div>
                    <div class="forminput">
                        <label for="snomealtera">Sobrenome:</label>
                        <input type="text" id="snomealtera" name="snomealtera" maxlength="50" required value="{{ useraltera.snome }}" autocomplete="off">
                    </div>
                    <div class="forminput">
                        <label for="emailaltera">Email:</label>
                        <input type="email" id="emailaltera" name="emailaltera" value="{{ useraltera.email }}" autocomplete="mope">
                    </div>
                    <div class="forminput">
                        <label for="fonealtera">Telefone:</label>
                        <input type="tel" id="fonealtera" name="fonealtera" value="{{ useraltera.fone }}" autocomplete="nope">
                    </div>
                    {% if user.is_superuser %}
                        <div class="formradio">
                            <label for="is_superuseraltera">Superusuário:</label>
                            <input type="checkbox" id="is_superuseraltera" name="is_superuseraltera" {% if useraltera.is_superuser %} checked {% endif %}>
                        </div>
                    {% endif %}
                    {% if user.is_superuser or user.eh_supervisor %}
                        <div class="formradio">
                            <label for="eh_supervisoraltera">Supervisor:</label>
                            <input type="checkbox" id="eh_supervisoraltera" name="eh_supervisoraltera" {% if useraltera.eh_supervisor %} checked {% endif %}>
                        </div>
                    {% endif %}
                    <div class="formradio">
                        <label for="eh_gerentealtera">Gerente:</label>
                        <input type="checkbox" id="eh_gerentealtera" name="eh_gerentealtera" {% if useraltera.eh_gerente %} checked {% endif %}>
                    </div>
                    <div class="formradio">
                        <label for="eh_auxiliaraltera">Auxiliar:</label>
                        <input type="checkbox" id="eh_auxiliaraltera" name="eh_auxiliaraltera" {% if useraltera.eh_auxiliar %} checked {% endif %}>
                    </div>
                    {% if useraltera != '' %}
                        <div class="forminput">
                            <label for="acessos" style="color: #cecece; border-bottom: 1px solid #cecece; display: inline-block; margin: 0.5rem 0;">Adcionar empresa:</label><br>
                            <select name="acessos" id="acessos" style="width: 19rem;" class="minimal" onchange="adcionaacesso(this, '{{ useraltera.id|hash_id }}')">
                                {% for emp in acesso %}
                                    <option value="{{ emp.id }}">{{ emp.cod }} - {{ emp.nome }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div>
                            <p onclick="alakazam(temacessos)" style="color: #cecece; border-bottom: 1px solid #cecece; display: inline-block; margin: 0.5rem 0;">Acessos <i class="fa-solid fa-plus"></i></p>   
                        </div>
                        <div id="temacessos" class="hidden" style="width: 19rem;">
                            {% for acesso in useraltera.temacesso.emp.get_queryset %}
                                <div class="tem_acesso">
                                    <p style="margin: 0.5rem 0 0 0;">{{ acesso.cod }} - {{ acesso.nome }}</p>
                                    <i class="fa-regular fa-square-minus"></i>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                        <input class="btn" style="margin-top: 0.5rem;" id="btnsubmitaltera" type="submit" value="Cadastrar">
                </form>
            </div>
        </div>
    </div>
{% endif %}

{% if user.is_superuser %}
    <div class="borda padding-sm">
        <h2>Super-Usuário</h2>
        {% if is_superuser %}
            <div class="flexstart">
                {% for userinfo in is_superuser %}
                    <div class="borda" style="margin: 0.5rem; padding: 0.5rem;">
                        <div class="flexstart">
                            <a href="{% url 'usuarios' %}?userid={{ userinfo.id|hash_id }}">
                                <div class="btnbig flexcenter" style="border-radius: 4px; width: 3rem;">
                                    <i class="fa-solid fa-user-pen"></i>
                                </div>
                            </a>
                            <p style="padding: 0.5rem;">{{ userinfo.nome }} {{ userinfo.snome }}
                            </p>
                        </div>
                        <p>Email:</p><p>{{ userinfo.email }}</p>
                        <p>Fone:</p><p>{{ userinfo.fone }}</p>
                        {% with emps=userinfo.temacesso.emp.get_queryset %}
                            <p onclick="alakazam(temacessos)" style="color: #cecece; border-bottom: 1px solid #cecece; display: inline-block; margin: 0.5rem 0;">Acessos <i class="fa-solid fa-plus"></i></p>
                            <div style="width: 19rem; max-height: 19rem; overflow: auto;" class="borda padding-sm">
                                {% for emp in emps %}
                                        <div class="tem_acesso">
                                            <p style="margin: 0.5rem 0 0 0;">{{ emp.cod }} - {{ emp.nome }}</p>
                                        </div>
                                {% endfor %}
                            </div>
                        {% endwith %}
                        <div>
                            <div {% if userinfo.is_active == True %} class="confere csuccess" {% else %} class="confere borda cdanger" {% endif %} id="{{ userinfo.id|hash_id }}" {% if userinfo != user %} onclick="bloqueiauser(this)" {% endif %}>
                                <span>Ativo: </span>{% if userinfo.is_active == True %}<i class="fa-solid fa-check"></i>{% else %}<i class="fa-solid fa-ban"></i>{% endif %}</i>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>Nenhum usuário nessa função cadastrado</p>
        {% endif %}
    </div>
{% endif %}

{% if user.is_superuser or eh_supervisor %}
    <div class="borda padding-sm">
        <h2>Supervisor</h2>
        {% if eh_supervisor %}
            <div class="flexstart">
                {% for userinfo in eh_supervisor %}
                    <div class="borda" style="margin: 0.5rem;padding: 0.5rem;">
                        <div class="flexstart">
                            <a href="{% url 'usuarios' %}?userid={{ userinfo.id|hash_id }}">
                                <div class="btnbig flexcenter">
                                    <i class="fa-solid fa-user-pen"></i>
                                </div>
                            </a>
                            <p style="padding: 0.5rem;">{{ userinfo.nome }} {{ userinfo.snome }}
                            </p>
                        </div>
                        <p>Email:</p><p>{{ userinfo.email }}</p>
                        <p>Fone:</p><p>{{ userinfo.fone }}</p>
                        {% with emps=userinfo.temacesso.emp.get_queryset %}
                            <div>
                                <p onclick="alakazam(temacessos)" style="color: #cecece; border-bottom: 1px solid #cecece; display: inline-block; margin: 0.5rem 0;">Acessos <i class="fa-solid fa-plus"></i></p>   
                            </div>
                            {% for emp in emps %}
                                <div id="temacessos" class="hidden" style="width: 19rem;">
                                    <div class="tem_acesso">
                                        <p style="margin: 0.5rem 0 0 0;">{{ emp.cod }} - {{ emp.nome }}</p>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endwith %}
                        <div>
                            <div {% if userinfo.is_active == True %} class="confere csuccess" {% else %} class="confere borda cdanger" {% endif %} id="{{ userinfo.id|hash_id }}" {% if userinfo != user %} onclick="bloqueiauser(this)" {% endif %}>
                                <span>Ativo: </span>{% if userinfo.is_active == True %}<i class="fa-solid fa-check"></i>{% else %}<i class="fa-solid fa-ban"></i>{% endif %}</i>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>Nenhum usuário nessa função cadastrado</p>
        {% endif %}
    </div>

    <div class="borda padding-sm">
        <h2>Gerente</h2>
        {% if eh_gerente %}
            <div class="flexstart">
                {% for userinfo in eh_gerente %}
                    <div class="borda flexstart" style="margin: 0.5rem;">
                        <a href="{% url 'usuarios' %}?userid={{ userinfo.id|hash_id }}">
                            <div class="btnbig flexcenter">
                                <i class="fa-solid fa-user-pen"></i>
                            </div>
                        </a>
                        <p style="padding: 0.5rem;">{{ userinfo.nome }} {{ userinfo.snome }}
                        </p>
                        <p>Email: {{ userinfo.email }}</p>
                        <p>Fone: {{ userinfo.fone }}</p>
                        <div style="margin: 0.5rem;">
                            <div {% if userinfo.is_active == True %} class="confere csuccess" {% else %} class="confere borda cdanger" {% endif %} id="{{ userinfo.id|hash_id }}" {% if userinfo != user %} onclick="bloqueiauser(this)" {% endif %}>
                                <span>Ativo: </span>{% if userinfo.is_active == True %}<i class="fa-solid fa-check"></i>{% else %}<i class="fa-solid fa-ban"></i>{% endif %}</i>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>    
        {% else %}
            <p>Nenhum usuário nessa função cadastrado</p>
        {% endif %}
    </div>

    <div class="borda padding-sm">
        <h2>Auxiliar</h2>
        {% if eh_auxiliar %}
            <div class="flexstart">
                {% for userinfo in eh_auxiliar %}
                    <div class="borda flexstart" style="margin: 0.5rem;">
                        <a href="{% url 'usuarios' %}?userid={{ userinfo.id|hash_id }}">
                            <div class="btnbig flexcenter">
                                <i class="fa-solid fa-user-pen"></i>
                            </div>
                        </a>
                        <p style="padding: 0.5rem;">{{ userinfo.nome }} {{ userinfo.snome }}
                        </p>
                        <p>Email: {{ userinfo.email }}</p>
                        <p>Fone: {{ userinfo.fone }}</p>
                        <div style="margin: 0.5rem;">
                            <div {% if userinfo.is_active == True %} class="confere csuccess" {% else %} class="confere borda cdanger" {% endif %} id="{{ userinfo.id|hash_id }}" {% if userinfo != user %} onclick="bloqueiauser(this)" {% endif %}>
                                <span>Ativo: </span>{% if userinfo.is_active == True %}<i class="fa-solid fa-check"></i>{% else %}<i class="fa-solid fa-ban"></i>{% endif %}</i>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>Nenhum usuário nessa função cadastrado</p>
        {% endif %}
    </div>
{% endif %}
{% if useraltera != '' %} <div id="fundo"></div> {% endif %}


<!--<div>
    <div>
        {% for emp in acesso %}
            <p>{{emp.cod}} - {{emp.nome}}</p>
        {% endfor %}
    </div>
    <div>
        {% for emp in acesso %}
            <p>{{emp.cod}} - {{emp.nome}}</p>
        {% endfor %}
    </div>
</div>-->

{% include 'footer.html' %}
</html>