{% load static %}
{% load hash_filters %}
{% include 'header.html' %}
{% include 'links.html' %}

{% if user.is_superuser %}
<button class="btn" style="margin-left: 0.5rem;" onclick="mostrar(this)">Cadastrar <i class="fa-solid fa-user-plus"></i></button>
<div class="formdisplay hidden">
        <div>
        <div class="forminput_barra">
            <button onclick="removefundo()"><i class="fa-solid fa-xmark"></i></button>
        </div>
        <div class="formgroup">
            <form method="POST" autocomplete="nope">
                {% csrf_token %}
                <div class="forminput">
                    <label for="usuario">Usuário:</label>
                    <input type="text" id="usuario" name="usuario" maxlength="50" required oninput="userexiste(this)" autocomplete="off">
                </div>
                <div class="forminput">
                    <label for="senha">Senha:</label>
                    <input type="password" id="senha" name="senha" maxlength="50" required autocomplete="new-password">
                </div>
                <div class="forminput">
                    <label for="nome">Nome:</label>
                    <input type="text" id="nome" name="nome" maxlength="50" required autocomplete="off">
                </div>
                <div class="forminput">
                    <label for="snome">Sobrenome:</label>
                    <input type="text" id="snome" name="snome" maxlength="50" required autocomplete="off">
                </div>
                <div class="forminput">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" autocomplete="mope">
                </div>
                <div class="forminput">
                    <label for="fone">Telefone:</label>
                    <input type="tel" id="fone" name="fone" autocomplete="nope">
                </div>
                <div class="formradio">
                    <label for="is_superuser">Superusuário:</label>
                    <input type="checkbox" id="is_superuser" name="is_superuser">
                </div>
                <div class="formradio">
                    <label for="eh_supervisor">Supervisor:</label>
                    <input type="checkbox" id="eh_supervisor" name="eh_supervisor">
                </div>
                <div class="formradio">
                    <label for="eh_gerente">Gerente:</label>
                    <input type="checkbox" id="eh_gerente" name="eh_gerente">
                </div>
                <div class="formradio">
                    <label for="eh_auxiliar">Auxiliar:</label>
                    <input type="checkbox" id="eh_auxiliar" name="eh_auxiliar">
                </div>
                <input class="btn" style="margin-top: 0.5rem;" id="btnsubmit" type="submit" value="Cadastrar">
            </form>
        </div>
    </div>
</div>

{% if user.is_superuser %}
    <div class="borda padding-sm margin-sm">
        <h2>Super-Usuário</h2>
        {% if is_superuser %}
            <div class="grid_usuarios">
                {% for userinfo in is_superuser %}
                    <div class="borda" style="margin: 0.5rem; padding: 0.5rem;">
                        <div class="flexstart">
                            <a href="{% url 'usuarios' %}?userid={{ userinfo.id|hash_id }}">
                                <div class="btnbig flexcenter" style="border-radius: 4px; width: 3rem;">
                                    <i class="fa-solid fa-user-pen"></i>
                                </div>
                            </a>
                            <p style="padding: 0.5rem;">{{ userinfo.nome }} {{ userinfo.snome }}
                            </p>
                        </div>
                        <p>Email:</p><p>{{ userinfo.email }}</p>
                        <p>Fone:</p><p>{{ userinfo.fone }}</p>
                        {% with emps=userinfo.temacesso.emp.get_queryset %}
                            <p onclick="alakazam(temacessos)" style="color: #cecece; border-bottom: 1px solid #cecece; display: inline-block; margin: 0.5rem 0;">Acessos <i class="fa-solid fa-plus"></i></p>
                            <div style="width: 19rem; max-height: 19rem; overflow: auto;" class="borda padding-sm">
                                {% for emp in emps %}
                                        <div class="tem_acesso">
                                            <p style="margin: 0.5rem 0 0 0;">{{ emp.cod }} - {{ emp.nome }}</p>
                                        </div>
                                {% endfor %}
                            </div>
                        {% endwith %}
                        <div>
                            <div {% if userinfo.is_active == True %} class="confere csuccess" {% else %} class="confere borda cdanger" {% endif %} id="{{ userinfo.id|hash_id }}" {% if userinfo != user %} onclick="bloqueiauser(this)" {% endif %}>
                                <span>Ativo: </span>{% if userinfo.is_active == True %}<i class="fa-solid fa-check"></i>{% else %}<i class="fa-solid fa-ban"></i>{% endif %}</i>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>Nenhum usuário nessa função cadastrado</p>
        {% endif %}
    </div>
{% endif %}

{% if user.is_superuser %}
    <div class="borda padding-sm margin-sm">
        <h2>Supervisor</h2>
            {% if eh_supervisor %}
            <div class="grid_usuarios">
                {% for userinfo in eh_supervisor %}
                    <div class="borda" style="margin: 0.5rem; padding: 0.5rem;">
                        <div class="flexstart">
                            <a href="{% url 'usuarios' %}?userid={{ userinfo.id|hash_id }}">
                                <div class="btnbig flexcenter" style="border-radius: 4px; width: 3rem;">
                                    <i class="fa-solid fa-user-pen"></i>
                                </div>
                            </a>
                            <p style="padding: 0.5rem;">{{ userinfo.nome }} {{ userinfo.snome }}
                            </p>
                        </div>
                        <p>Email:</p><p>{{ userinfo.email }}</p>
                        <p>Fone:</p><p>{{ userinfo.fone }}</p>
                        {% with emps=userinfo.temacesso.emp.get_queryset %}
                            <p onclick="alakazam(temacessos)" style="color: #cecece; border-bottom: 1px solid #cecece; display: inline-block; margin: 0.5rem 0;">Acessos <i class="fa-solid fa-plus"></i></p>
                            <div style="width: 19rem; max-height: 19rem; overflow: auto;" class="borda padding-sm">
                                {% for emp in emps %}
                                        <div class="tem_acesso">
                                            <p style="margin: 0.5rem 0 0 0;">{{ emp.cod }} - {{ emp.nome }}</p>
                                        </div>
                                {% endfor %}
                            </div>
                        {% endwith %}
                        <div>
                            <div {% if userinfo.is_active == True %} class="confere csuccess" {% else %} class="confere borda cdanger" {% endif %} id="{{ userinfo.id|hash_id }}" {% if userinfo != user %} onclick="bloqueiauser(this)" {% endif %}>
                                <span>Ativo: </span>{% if userinfo.is_active == True %}<i class="fa-solid fa-check"></i>{% else %}<i class="fa-solid fa-ban"></i>{% endif %}</i>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>Nenhum usuário nessa função cadastrado</p>
        {% endif %}
    </div>

    <div class="borda padding-sm margin-sm">
        <h2>Gerente</h2>
        {% if eh_gerente %}
            <div class="grid_usuarios">
                {% for userinfo in eh_gerente %}
                    <div class="borda" style="margin: 0.5rem; padding: 0.5rem;">
                        <div class="flexstart">
                            <a href="{% url 'usuarios' %}?userid={{ userinfo.id|hash_id }}">
                                <div class="btnbig flexcenter" style="border-radius: 4px; width: 3rem;">
                                    <i class="fa-solid fa-user-pen"></i>
                                </div>
                            </a>
                            <p style="padding: 0.5rem;">{{ userinfo.nome }} {{ userinfo.snome }}
                            </p>
                        </div>
                        <p>Email:</p><p>{{ userinfo.email }}</p>
                        <p>Fone:</p><p>{{ userinfo.fone }}</p>
                        {% with emps=userinfo.temacesso.emp.get_queryset %}
                            <p onclick="alakazam(temacessos)" style="color: #cecece; border-bottom: 1px solid #cecece; display: inline-block; margin: 0.5rem 0;">Acessos <i class="fa-solid fa-plus"></i></p>
                            <div style="width: 19rem; max-height: 19rem; overflow: auto;" class="borda padding-sm">
                                {% for emp in emps %}
                                        <div class="tem_acesso">
                                            <p style="margin: 0.5rem 0 0 0;">{{ emp.cod }} - {{ emp.nome }}</p>
                                        </div>
                                {% endfor %}
                            </div>
                        {% endwith %}
                        <div>
                            <div {% if userinfo.is_active == True %} class="confere csuccess" {% else %} class="confere borda cdanger" {% endif %} id="{{ userinfo.id|hash_id }}" {% if userinfo != user %} onclick="bloqueiauser(this)" {% endif %}>
                                <span>Ativo: </span>{% if userinfo.is_active == True %}<i class="fa-solid fa-check"></i>{% else %}<i class="fa-solid fa-ban"></i>{% endif %}</i>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>Nenhum usuário nessa função cadastrado</p>
        {% endif %}
    </div>

    <div class="borda padding-sm margin-sm">
        <h2>Auxiliar</h2>
        {% if eh_auxiliar %}
                <div class="grid_usuarios">
                    {% for userinfo in eh_auxiliar %}
                        <div class="borda" style="margin: 0.5rem; padding: 0.5rem;">
                            <div class="flexstart">
                                <a href="{% url 'usuarios' %}?userid={{ userinfo.id|hash_id }}">
                                    <div class="btnbig flexcenter" style="border-radius: 4px; width: 3rem;">
                                        <i class="fa-solid fa-user-pen"></i>
                                    </div>
                                </a>
                                <p style="padding: 0.5rem;">{{ userinfo.nome }} {{ userinfo.snome }}
                                </p>
                            </div>
                            <p>Email:</p><p>{{ userinfo.email }}</p>
                            <p>Fone:</p><p>{{ userinfo.fone }}</p>
                            {% with emps=userinfo.temacesso.emp.get_queryset %}
                                <p onclick="alakazam(temacessos)" style="color: #cecece; border-bottom: 1px solid #cecece; display: inline-block; margin: 0.5rem 0;">Acessos <i class="fa-solid fa-plus"></i></p>
                                <div style="width: 19rem; max-height: 19rem; overflow: auto;" class="borda padding-sm">
                                    {% for emp in emps %}
                                            <div class="tem_acesso">
                                                <p style="margin: 0.5rem 0 0 0;">{{ emp.cod }} - {{ emp.nome }}</p>
                                            </div>
                                    {% endfor %}
                                </div>
                            {% endwith %}
                            <div>
                                <div {% if userinfo.is_active == True %} class="confere csuccess" {% else %} class="confere borda cdanger" {% endif %} id="{{ userinfo.id|hash_id }}" {% if userinfo != user %} onclick="bloqueiauser(this)" {% endif %}>
                                    <span>Ativo: </span>{% if userinfo.is_active == True %}<i class="fa-solid fa-check"></i>{% else %}<i class="fa-solid fa-ban"></i>{% endif %}</i>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <p>Nenhum usuário nessa função cadastrado</p>
        {% endif %}
    </div>
{% endif %}

{% endif %}
    <div class="borda padding-sm margin-sm">
        <h2>Funcionários</h2>
        {% if eh_funcionario %}
                <div>
                    {% for userinfo in eh_funcionario %}
                        {% with userinfo=userinfo.funcacesso %}
                            <div class="borda usuario_func" style="margin: 0.5rem; padding: 0.5rem;">
                                <div>
                                    {% if user.is_superuser %}
                                        <a  style="margin-right: 0.5rem;" class="btn" href="{% url 'usuarios' %}?userid={{ userinfo.id|hash_id }}">
                                            <i class="fa-solid fa-user-pen"></i>
                                        </a>
                                    {% else %}                                    
                                        <a  style="margin-right: 0.5rem;" class="btn" href="{% url 'funcionarios' userinfo.funcionario_set.get.cod %}">
                                            <i class="fa-solid fa-user-pen"></i>
                                        </a>
                                    {% endif %}
                                </div>                                 
                                <div>{{ userinfo.nome }} {{ userinfo.snome }}</div>
                                <div><span class="titulo">Usuário:</span> {{ userinfo.usuario }}</div>
                                <div><span class="titulo">Email:</span> {{ userinfo.email }}</div>
                                <div><span class="titulo">Fone:</span>{% if userinfo.fone %}{{ userinfo.fone }}{% endif %}</div>
                                <div style="padding: 0.3rem; border-radius: 2px;" {% if userinfo.is_active == True %} class="csuccess flexbetween" {% else %} class="cdanger flexbetween" {% endif %} id="{{ userinfo.id|hash_id }}" {% if userinfo != user %} onclick="bloqueiauser(this)" {% endif %}>
                                    <span>Ativo: </span>{% if userinfo.is_active == True %}<i class="fa-solid fa-check"></i>{% else %}<i class="fa-solid fa-ban"></i>{% endif %}</i>
                                </div>
                            </div>
                        {% endwith %}   
                    {% endfor %}
                </div>
            {% else %}
                <p>Nenhum usuário nessa função cadastrado</p>
        {% endif %}
    </div>


{% if useraltera != '' %} <div id="fundo" onclick="removefundo()"></div> {% endif %}

{% include 'footer.html' %}
</html>