#tabelaponto {
    margin: 1rem auto 0 auto;
    border-collapse: collapse;
    font-size: 1.2rem;
}

#tabelaponto th,
#tabelaponto td {
  border: 1px solid #121212;
  text-align: center;
  width: 3rem;
  padding: 0.25rem;
}

.nome{
  color: #e4e6e7;
}

.nome:hover{
  color: #0051ff;
}

.diainicio{
  background-color: #cfcfcf;
}

.diainicio:hover{
  background-color: #2e3238;  
}

.diainicio a{
  color: #2e3238;
  display: block;
  width: 100%;
}

.diainicio:hover a{
  color: #e4e6e7;
}
/**/

.diaencerrado{
  background-color: #2459a9;
}

.diaencerrado:hover{
  background-color: #cfcfcf;  
}

.diaencerrado a{
  color: #e4e6e7;
  display: block;
  width: 100%;
}

.diaencerrado:hover a{
  color: #2459a9;
}

.forminputponto{
    margin: 0.8rem 0;
}

.forminputponto label{
    color: #ff1d1d;
}

.forminputponto > div{
  display: flex;
}

.forminputponto .btn{
  margin-left: 0.5rem;
  width: 100%;
  height: 3rem;
  font-size: 1.5rem;
}

#dia_hora {
  margin: 0.5rem auto;
  display: block;
  font-size: 1.5rem;
}

#tabelaponto th:not(:first-child),
#tabelaponto td:not(:first-child) {
  width: 5.5rem;
}

tbody tr:nth-child(even){
  background:#2e3238;}

tbody tr:nth-child(odd){
  background:#757575;}

#marcadorponto div{
    display: inline-block;
}

#marcadorponto div > *{
    display: block;
    width: 7rem;
    margin: 0.2rem 0;
}

.botoes_marca{
  display: flex;
  align-items: stretch;
  justify-content: space-around;
}

.btn_marca{
    width: 8rem;
    font-size: 1.5rem;
    margin: 0.5rem;
}

@media screen and (max-width: 630px) {
  .botoes_marca{
    display: grid;
    align-items: stretch;
    justify-content: space-around;
    grid-template-columns: auto auto;
  }
  
}